@inject Services.LjpService LjpService

<div class="text-center">
    <button class="btn btn-primary btn-lg" type="button" disabled=@Calculating @onclick="CalculateLJP">
        @if (Calculating)
        {
            <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
            <span>Calculating...</span>
        }
        else
        {
            <span>Calculate LJP</span>
        }
    </button>
</div>

<div class=@(ShowResults ? "" : "invisible")>
    <section class="m-2 mt-5 text-center">
        <div class="display-2">LJP = @Math.Round(LjpService.ResultLJP, 3) mV</div>
    </section>

    <section class="m-2 mt-5 text-muted">
        <pre>@LjpService.ResultText</pre>
    </section>
</div>

@code {

    private bool Calculating;
    private bool ShowResults => (!Calculating && LjpService.IsValidResult);

    private async Task CalculateLJP()
    {
        Calculating = true;
        StateHasChanged();

        // give it some time to show the user the calculation message
        await Task.Delay(TimeSpan.FromMilliseconds(100))
                  .ContinueWith(task => LjpService.CalculateLJP());


        Calculating = false;
    }
}
