@using LJPcalc.Core;

<div class="modal fade" data-bs-backdrop="static" id="editIonModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @if (IsNewIon)
                    {
                        <span>Add New Ion</span>
                    }
                    else
                    {
                        <span>Edit Ion</span>
                    }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label class="form-label">Load properties of known ions</label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Preset</label>
                    <select class="form-select" id="inputGroupSelect01" value="@IonSelectValue" @onchange=PresetSelected>
                        @foreach (Ion ion in IonLibrary.KnownIons)
                        {
                            <option value="@ion.NameWithCharge">@ion.NameWithCharge</option>
                        }
                    </select>
                </div>

                <label class="form-label mt-3">Edit ion properties</label>

                <div class="input-group mb-3">
                    <span class="input-group-text">Name</span>
                    <input type="text" class="form-control" @bind=Name>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Charge</span>
                    <input type="text" class="form-control" @bind=Charge>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Conductivity (S·cm<sup>2</sup>/mol)</span>
                    <input type="text" class="form-control" @bind=Conductivity>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Mobility (m/s/N)</span>
                    <input type="text" class="form-control" @bind=Mobility readonly>
                </div>

                <label class="form-label mt-3">Indicate concentration for each side of the junction</label>

                <div class="input-group  mb-3">
                    <span class="input-group-text">Concentration A (mM)</span>
                    <input type="text" class="form-control" @bind=C0>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Concentration B (mM)</span>
                    <input type="text" class="form-control" @bind=CL>
                </div>
            </div>
            <div class="modal-footer">
                @if (IsNewIon)
                {
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick=SaveClicked>Add Ion</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=DeleteIon>Delete Ion</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick=SaveClicked>Save Changes</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public EditableIon Ion { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback<string> OnSaveIon { get; set; }

    private string Name { get => Ion.Name; set => Ion.Name = value; }

    private int Charge { get => Ion.Charge; set => Ion.Charge = value; }

    private double Conductivity { get => Ion.Conductivity; set => Ion.Conductivity = value; }

    private string Mobility { get => $"{Ion.Mobility:0.000E+0}"; set { return; } }

    private double C0 { get => Ion.C0; set => Ion.C0 = value; }

    private double CL { get => Ion.CL; set => Ion.CL = value; }

    private bool IsNewIon { get => Ion.IsNewIon; }

    private string IonSelectValue { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        string initialNameWithCharge = IonLibrary.KnownIons
            .Select(x => x.NameWithCharge)
            .Where(x => x.StartsWith("A"))
            .First();

        IonSelectValue = initialNameWithCharge;

        PresetSelected(new ChangeEventArgs() { Value = initialNameWithCharge });
    }

    public async Task SaveClicked()
    {
        await OnSaveIon.InvokeAsync();
    }

    public async Task DeleteIon()
    {
        Ion.IsDeleted = true;
        await OnSaveIon.InvokeAsync();
    }

    private void PresetSelected(ChangeEventArgs e)
    {
        string ionNameWithCharge = e?.Value?.ToString() ?? string.Empty;
        Ion[] matchingIons = IonLibrary.KnownIons.Where(x => x.NameWithCharge == ionNameWithCharge).ToArray();
        if (matchingIons.Any())
        {
            Ion ion = matchingIons.First();
            Name = ion.Name;
            Charge = ion.Charge;
            Conductivity = ion.Conductivity;
        }
    }
}
