@inject Services.LjpService LjpService

<button class="col btn btn-primary" @onclick="AddIon" disabled="@(LjpService.HasError ? "disabled" : null)">Add</button>

@code {

    void AddIon()
    {
        LjpService.AddIon();
        LjpService.OnIonTableChange.Invoke();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LjpService.OnSelectedIonChange += StateHasChanged;
    }
}
