@inject Services.LjpService LjpService

<select class="form-control" @bind="SelectedIonName">
    <option value="" selected disabled hidden>Select Ion</option>
    @foreach (string ionName in Services.IonTable.GetIonNames())
    {
        <option value="@ionName">@ionName</option>
    }
</select>

@code {
    private string _selectedIonName;
    public string SelectedIonName
    {
        get => _selectedIonName;
        set
        {
            _selectedIonName = value;
            var ion = Services.IonTable.GetIon(value);
            LjpService.AddIonCharge = ion.charge;
            LjpService.AddIonConductivity = ion.conductivity;
            LjpService.AddIonName = ion.name;
            LjpService.ErrorMessage = null;
            LjpService.OnSelectedIonChange.Invoke();
        }
    }
}
