@inherits LayoutComponentBase
@inject Services.LjpService LjpService

<div class="container border bg-light p-4 shadow">
    <header>
        <h1 class="display-4">LJPcalc</h1>
        <h4 class="lead">Liquid Junction Potential Calculator</h4>
    </header>

    @Body

    <footer class="mt-5">

        <div>
            <div><strong>Additional Resources:</strong></div>
            <div>
                <li>See the <a href="https://swharden.com/software/LJPcalc/theory">LJPcalc Theory</a> page for advanced usage information.</li>
                <li>Download <a href="https://swharden.com/software/LJPcalc/download">standalone Windows application</a> for better performance and additional functionality.</li>
                <li>Refer to the <a href="https://swharden.com/software/LJPcalc/iontable">ion conductivity and mobility</a> page for references and notes.</li>
            </div>
        </div>

        <div class="text-muted mt-3">
            <a href='https://swharden.com/software/LJPcalc/#authors'>
                LJPcalc @LjpService.Version
            </a>
            by Scott Harden and Doriano Brogioli.<br />
            This browser application was built on January 3, 2021 using Blazor WebAssembly running on .NET @DotNetVersionString
        </div>
    </footer>
</div>

@code{
    private string DotNetVersionString => Environment.Version.ToString();
}