@inject Services.LjpService LjpService

<section class="mt-3 mb-3">

    <div class="d-inline-block m-2">
        <label><strong>Solution Labels</strong></label>
        <select class="form-control" @bind="LabelType">
            <option value="pipette">pipette</option>
            <option value="generic">generic</option>
        </select>
    </div>

    <div class="d-inline-block m-2">
        <label><strong>Temperature (C)</strong></label>
        <input class="form-control" @bind-value="TempC" size="10" />
    </div>

</section>

@code {
    private string LabelType
    {
        get => LjpService.UseGenericLabels ? "generic" : "pipette";
        set
        {
            LjpService.UseGenericLabels = (value == "generic");
            LjpService.OnSolutionLabelChange.Invoke();
        }
    }

    private string TempC
    {
        get => LjpService.TemperatureC.ToString();
        set
        {
            if (double.TryParse(value, out double result))
                LjpService.TemperatureC = result;
            else
                LjpService.ErrorMessage = "invalid temperature";
        }
    }

}
